h1 {
    color: black;
}
h4 {
    color: #b3b3b3;
    padding-left: 20px;
}
.emblem-title {
    background-image: url('../img/mars_logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 140px;
    min-height: 50px;
    display: flex;
    align-items: center;
}